@(chart_duration: String)

@import helpers.ApplicationHelper
@import helpers.ArbConstants._

@main("Welcome to Play 2.1") {
    @ApplicationHelper.genData
    <div id="pnl">
        <div class="panel panel-default">
            <div class="panel-heading">Price <span class="text-info">1 USD = @{ApplicationHelper.getExUsd2Cny} CNY</span></div>
            <ul class="list-group">
                <li class="list-group-item">Coinbase <span class="text-warning">￥@{ApplicationHelper.getCnyCoinbase} | $@{ApplicationHelper.getUsdCoinbase}</span></li>
                <li class="list-group-item">OKCoin <span class="text-warning">￥@{ApplicationHelper.getCnyOkcoin} | $@{ApplicationHelper.getUsdOkcoin}</span></li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Margin</div>
            <ul class="list-group">
                <li class="list-group-item">OkCoin => CoinBase <span class="text-danger">@{ApplicationHelper.getProfit_Okcoin2Coinbase}%</span></li>
                <li class="list-group-item">OkCoin <= CoinBase <span class="text-danger">@{ApplicationHelper.getProfit_Coinbase2Okcoin}%</span></li>
            </ul>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li><a href="@routes.Application.duration(DURATION_ONE_DAY)">One Day</a></li>
        <li><a href="@routes.Application.duration(DURATION_ONE_WEEK)">One Week</a></li>
        <li><a href="@routes.Application.duration(DURATION_ONE_MONTH)">One Month</a></li>
    </ul>
    <div id="container" style="height: 500px; min-width: 310px"></div>

    <script src="@routes.Assets.at("javascripts/arbitrage/draw_chart.js")"></script>
    <script>
        var d = @{ApplicationHelper.genDataForHighStock(chart_duration)._3}
        draw(d)
    </script>
}
