@(message: String)

@import helpers.ApplicationHelper

@main("Welcome to Play 2.1") {
    @ApplicationHelper.genData
    <div id="pnl">
        <div class="panel panel-default">
            <div class="panel-heading">Price <span class="text-info">1 USD = @{ApplicationHelper.getExUsd2Cny} CNY</span></div>
            <ul class="list-group">
                <li class="list-group-item">Coinbase <span class="text-warning">￥@{ApplicationHelper.getCnyCoinbase} | $@{ApplicationHelper.getUsdCoinbase}</span></li>
                <li class="list-group-item">OKCoin <span class="text-warning">￥@{ApplicationHelper.getCnyOkcoin} | $@{ApplicationHelper.getUsdOkcoin}</span></li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Margin</div>
            <ul class="list-group">
                <li class="list-group-item">OkCoin => CoinBase <span class="text-danger">@{ApplicationHelper.getProfit_Okcoin2Coinbase}%</span></li>
                <li class="list-group-item">OkCoin <= CoinBase <span class="text-danger">@{ApplicationHelper.getProfit_Coinbase2Okcoin}%</span></li>
            </ul>
        </div>
    </div>
}
